/*  css for div of the view table */
#divOfFloor {
    position: absolute;
    left: 1%;
    width: 50%;
    top: 15%;
    
}

/* css for the view table */
#viewOfFloor {
    height: 400px;
    background-color: white;
    font-size: 13px;
}

td {
    text-align: center;
}

.emptyRow {
    border: 0;
}

#stairs {
    color: red;
    border: 0;
    font-size: 35px;
}
.room {
    background-color: #6699FF;
}
#bookTable {
    position: absolute;
    top: 19%;
    right: 0%;
    background-color: white;
    font-size: 12.5px;
}
